

#firstparallax{
    position: relative;
    background-image: url(../images/city\ glasses.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
  
    
}
#secondparallax{
    position: relative;
    width: 100%;
    background-image: url(../images/coderwallpaper.jpeg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#thirdparallax{
    position: relative;
    width: 100%;
    background-image: url(../images/coder123.jpeg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#nav-bar{
    position: relative;
    height: 100px;
    width: 100%;
}

#aboutmecontainer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color:white;
    border-style: solid;
    border-color: grey

}
#myimage{
    position: relative;
    width: 300px;
    margin-left: 20px;
    height: 200px;
    margin: auto
}
#portfoliocontainer{
    position: relative;
    width: 100%;
    height: 450px;
    background-color: black;
   
    margin: auto;
    border-style: solid;
    border-color: grey;
    

}

#myCarousel {
    position: relative;
    width: 600px;
    height: 350px;
    left:350px;
   bottom: 50px;
}


#footer{
    position: relative;
    width: 100%;
    height: 150px;
    background-color:black;
    padding-top: 50px;
    border-style: solid;
    text-align: center;
}
#links,#contactme{
    margin-right: -700px;
    margin-top: -40px;
}
html,body{
    margin: 0;
    padding: 0;
    
}


    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .galleryContainer {
            display: block;
        }
        #galleries::before,#galleries::after {
            box-sizing: content-box;
        }
        #galleries {
            position: relative;
            overflow: auto;
            max-width: none;
            margin: auto;
            display: block;
            width: 540px;
        }
        .images {
            clear: none;
            margin: 10px;
        }
    }
    